# Discord Bot
DISCORD_TOKEN=tu_token_de_discord_aqui

# NVIDIA/OpenAI
NVIDIA_API_KEY=tu_api_key_de_nvidia_aqui

# Bot Configuration
BOT_PREFIX=!
BOT_NAME=AssistentIA
AI_MODEL=deepseek-ai/deepseek-v4-pro

# Opcional - APIs externas
WEATHER_API_KEY=tu_api_key_del_clima_aqui
GOOGLE_SEARCH_API_KEY=tu_google_search_key_aqui
SERPER_API_KEY=tu_serper_api_key_aqui

# Configuración AI
AI_TEMPERATURE=1
AI_TOP_P=0.95
AI_MAX_TOKENS=16384
AI_THINKING=False

# Música
MUSIC_VOLUME_DEFAULT=50
